*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.address:hover{
    border: 1px solid white;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amzon.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    background-color: #0f1111;
}
    .nav-logo{
        border: 1px solid transparent;
    }
.nav-logo:hover{
    border: 1px solid white;
}
.address1{
    color: #cccccc;
    font-size: .85rem;
    margin-left: 19px;
}
.address2{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    background-color: brown;
    width: 620px;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid brown;
}
.select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
    background-color: #f3f3f3;
}
.border:hover{
    border: 1px solid white;
}
#searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
.para1{
    font-size: 0.7rem;
}
.para2{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.pannel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: wheat;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    display: inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url(hero.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: burlywood;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: white;
}
.box-image{
    height: 300px;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-pannel1{
    background-color: #374751;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    font-size: 0.85rem;
}
.foot-pannel2{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 300px;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-pannel3{
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.5px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.logo{
    background-image: url(amzon.png);
    height: 50px;
    width:  100px;
    background-size: cover;
}
.foot-pannel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.foot-ops{
    padding-top: 25px;
    font-size: 0.7rem;
    text-align: center;
}
.copy{
    font-size: 0.7rem;
    padding-top: 5px;
    text-align: center;
}